<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Electric laws</title>
</head>

<body style="margin-left: 100px; margin-top: 100px;">
    <h1>Calculator</h1>

    <form (ngSubmit)="calculate()">
        <mat-form-field appearance="fill">
            <mat-label>Grandeur recherchée:</mat-label>
            <mat-select [(ngModel)]="model" name="model"> <!-- dropdown -->
                <mat-option *ngFor="let signe of signes" [value]="signe[0]">
                    {{signe[0]}} ({{signe[1]}})
                </mat-option>
            </mat-select>
        </mat-form-field>
       
        <button mat-button type="submit" color="primary" style="margin-left: 10px;">Lancer le formule</button>
    </form>
    <section *ngFor="let signe of signes"> <!-- checkbox with signes -->
        <mat-checkbox (change)="onCheckboxChange($event)" [disabled]="model == signe[0] ? true : false"
            [value]="signe[0]">{{signe[0]}}</mat-checkbox>          
    </section>
       
    <div id="results_container" *ngFor="let result of results">
        <p>{{result}}</p>   
    </div>
    
    <p>Formule no.1 </p>
    <input  type="string" [(ngModel)]="val1" id="signVal1"> &nbsp;
    <input  type="string"[(ngModel)]="val2"  id="signVal2">
    <p>{{finalRes}}</p>
    <p>Formule no.2 </p>
    <input  type="string" [(ngModel)]="val3" id="signVal1"> &nbsp;
    <input  type="string"[(ngModel)]="val4"  id="signVal2">
    <button mat-button  color="primary" style="margin-left: 10px;" (click)="finalResult()">Calculez</button>
    <p>{{finalRes2}}</p>
</body>

</html>
